<ion-content>
  <div class="box" style="justify-content: start;">
      <app-progress-h1 [backRoute]="'/idade'" [progress]="progress" [h1]="'Sobre seu corpo'" style="width: 352px;"></app-progress-h1>

      <div class="box box__internal">
        <div class="rectangular-box">
          <div class="img">
            <img src="assets/img/icon_peso_balança.svg"/>
          </div>
          <div class="ion-input">
            <ion-label>Seu peso</ion-label>
            <div style="display: flex;align-items: center;">
              <input 
                #pesoInput 
                [(ngModel)]="peso" 
                id="peso" 
                type="text"
                enterkeyhint="next"
                (keyup.enter)="focusAltura()" 
                mask="000"
                placeholder="00"/>             
              <h1>KG</h1>
            </div>
          </div>
        </div>

        <div class="rectangular-box">
          <div class="img">
            <img src="assets/img/icon_altura.svg"/>
          </div>          
          <div class="ion-input">
            <ion-label>Sua altura</ion-label>
            <div style="display: flex;align-items: center;">
              <input #alturaInput [(ngModel)]="altura" id="altura" type="text" mask="000" placeholder="00" (keyup.enter)="proximo()">
              <h1>CM</h1>
            </div>

          </div>
        </div>
      </div>

      <ion-button (click)="proximo()">Continuar</ion-button>
  </div>
</ion-content>