<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Stripe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" class="ion-margin-top" (click)="paymentShet()">paymentShet</ion-button>
  <ion-button expand="block" class="ion-margin-top" (click)="paymentFlow()">paymentFlow</ion-button>
  <ion-button expand="block" class="ion-margin-top" (click)="applePay()">applePay</ion-button>
  <ion-button expand="block" class="ion-margin-top" (click)="googlepay()">googlepay</ion-button>
</ion-content>