    <main style="display: flex;align-items: center;flex-direction: column;">
      <app-progress-h1 [backRoute]="'/imc'" [progress]="progress" [h1]="''" style="width: 352px;"></app-progress-h1>
      <section class="body">
        <div>
          <h1>Por que usar este app?</h1>
        </div>
        <div class="body_meio">
          <div class="beneficios">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            <p>Desenvolvido por especialista em nutrição</p>
          </div>
          <div class="beneficios">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            <p>Planos atualizados mensalmente</p>
          </div>
          <div class="beneficios">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            <p>Cardápios saudáveis e práticos</p>
          </div>
          <div class="beneficios">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            <p>Ideal prara: emagrecer, manter ou ganhar peso</p>
          </div>
          <div class="beneficios">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            <p>Indicação de macronutrientes diários</p>
          </div>
          <div class="beneficios">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            <p>acesso rápido e fácil pelo celular</p>
          </div>
        </div>

        <div class="body_plano">
          <div class="title">
            <h3>Desbloqueie seu plano personalizado</h3>
          </div>
          <div class="valor title">
            <p>por apenas</p>
            <h3>R$</h3>
            <h1>49,90</h1>
          </div>
          <ion-button (click)="pay()"><p>Pagar agora!</p></ion-button>
        </div>
      </section>
    </main>