.progress {
    align-items: center;
    gap: 40px;
    width: 93%;
    display: flex;
    margin-top: 30px;

    &_bar {
        --progress-background: var(--laranja); 
        --background: var(--azul-1);
        border-radius: 30px;
    }
}


h1 {
    font-weight: bolder;
    color: var(--azul-1);
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}