<main>
  <section style="display: flex;align-items: center;flex-direction: column;">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2 style="color: black;font-weight: bold;font-size: 24px;">{{ nome }}</h2>
  </section>
    
    <section class="box" style="display: none;">
      <h1>Minhas conquistas</h1>
      <div class="conquistas">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          
        </ion-avatar>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          
        </ion-avatar>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          
        </ion-avatar>
      </div>
      <div class="conquistas">
        <p>conquista 1</p>
        <p>conquista 2</p>
        <p>conquista 3</p>
      </div>
    </section>

    <section class="box" style="height: 100%;"> 
      <h1 style="margin: 0 0 0 6%;">Meus dados</h1>

      <div class="dados">
        <div>
          <h2>Idade</h2>
          <p>{{ idade }} anos</p>
        </div>
        <div>
          <h2>Gênero</h2>
          <p>{{ genero }}</p>
        </div>
        <div>
          <h2>Altura</h2>
          <p>{{ altura }} cm</p>
        </div>
        <div>
          <h2>Peso</h2>
          <p>{{ peso }} kg</p>
        </div>
        <div style="border-bottom: none;">
          <h2>Meta de peso</h2>
          <p>{{ metaPeso }} kg</p>
        </div>
      </div>
    </section>

    <section class="boxEnd">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      <h2>Sair da conta</h2>
    </section>

    <section class="boxEnd" style="background-color: #3ec9c8;color: white;justify-content: center;display: none;">
      <h2>Reiniciar progresso</h2>
    </section>
</main>