$content-bg: #19191c; // Fundo preto
$primary-color: #159948; // Laranja
$text-color: #fff; // Branco
.degrader {
    position: fixed;
    // background-size: cover;
    min-height: 100vh;
    width: 100vw;
    // filter: saturate(0%);
background: #FFF;
background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(254, 187, 12, 1) 100%);   
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: $content-bg;
    font-family: "Montserrat", sans-serif !important;
    gap: 20px;
    padding: 0px 0 59px 0;
    animation: 5s start1;


    & .interna {
        padding: 0;
        height: 455px;
    }
    .titulo {
        z-index: 10;
        h1 {
            margin: 0;
            font-weight: bold;
            color: white;
            font-size: 46px;
            font-family: "Montserrat", sans-serif;
            font-style: italic;
        }
    }

    ion-button {
        font-weight: 600;
        color: white;
        --background: black;
        --border-radius: 20px;
        --min-height: 28px;
        width: 230px;
        text-transform: none;
        font-family: "Montserrat", sans-serif !important;
        font-size: 18px;
    }

}

.inicializacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: black;
    font-family: "Montserrat", sans-serif !important;
    gap: 20px;
    padding: 0px 0 59px 0;
    animation: linear 5s inicializacao;
    .boxI {
        padding: 0;
        height: 455px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .titulo {
        z-index: 10;
        h1 {
            margin: 0;
            font-weight: bold;
            color: white;
            font-size: 46px;
            font-family: "Montserrat", sans-serif;
            font-style: italic;
        }
    }
}

@keyframes inicializacao {
    0%{
        z-index: 100;
        position: absolute;
        filter: blur(0);
    }
    50%{
        filter: blur(4px);
    }
    100%{
        z-index: 0;
        filter: blur(1.5rem);
    }
}