<ion-content>
  <main class="degrader"></main>
  <div class="box" *ngIf="!showSplash">
      <div class="box interna">
        <img style="width: 300px;height: 300px;z-index: 1;" src="../../assets/img/logo_certa.png" alt="">
        <!-- <div style="width: 100px;height: 100px;border-radius: 30px;background-color: white;position: relative;"></div> -->
        <!-- <div class="titulo">
            <h1>CALORIAS</h1>
            <h1>DE BOLSO</h1>
        </div> -->
      </div>
      <ion-button (click)="escolha()">Vamos começar</ion-button>
  </div>
  <div class="inicializacao" *ngIf="showSplash">
    <div class="boxI">
      <img src="../../assets/img/WhatsApp Image 2025-05-17 at 15.03.17.jpeg" style="width: 200px;height: 200px;">
      <!-- <div style="width: 100px;height: 100px;border-radius: 30px;background-color: white;position: relative;"></div> -->
    </div>
</div>

  
</ion-content>
