<ion-content>
  <main class="degrader"></main>
  <div class="box">
      <!-- <img src="assets/img/Logo-perfect body.png" alt="logo perfect body" style="z-index: 10; width: 250px;"/> -->
      <div class="box interna">
        <div style="width: 100px;height: 100px;border-radius: 30px;background-color: white;position: relative;"></div>
        <div class="titulo">
            <h1>CALORIAS</h1>
            <h1>DE BOLSO</h1>
        </div>
      </div>
      <ion-button (click)="escolha()">Vamos começar</ion-button>
  </div>
</ion-content>
