<ion-content>
  <div class="box" style="justify-content: start;">
      <app-progress-h1 [backRoute]="'/cadastro'" [progress]="progress" [h1]="'Qual o seu gênero?'" style="width: 370px;position: relative;left: 10px;"></app-progress-h1>
      <div class="box box__interno">
        <img 
          src="assets/img/botão_feminino.svg" 
          alt="avaliação feminina"
          [ngClass]="{ 'selected': selectedGender === 'female' }"
          (click)="selectGender('female')">
        <img 
          src="assets/img/botão_masculino.svg" 
          alt="avaliação masculina"
          [ngClass]="{ 'selected': selectedGender === 'male' }"
          (click)="selectGender('male')">
      </div>

      <ion-button [disabled]="!selectedGender" (click)="pesoAltura()">Continuar</ion-button>
  </div>
</ion-content>
