:host {
  display: block;
}

.chart-wrapper {
  position: relative;
  padding: 20px 0 50px 0; /* espaço para as labels */
  border-radius: 30px;
  background-color: var(--box);
  margin-bottom: 40px;
  
  h1 {
    font-weight: bold;
    margin: 0 10px;
    color: var(--letra-white);
  }
}

.labels-row {
  position: absolute;
  bottom: 40px;
  left: 52px;
  gap: 12.4px;
  right: 0;
  display: flex
;
}

.label-sem {
  background-color: transparent !important;
  font-size: x-small !important;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 31.1px;
  background-color: var(--div-azul-1);
  padding: 4px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  color: white;
  p {
    margin: 0;
  }
  &:nth-child(2) {
    margin: 0 0 0 0;
  }
  &:nth-child(3) {
    margin: 0 0 0 0;
  }
  &:nth-child(4) {
    margin: 0 0 0 0;
  }
  &:nth-child(5) {
    margin: 0 0 0 0;
  }
  &:nth-child(6) {
    margin: 0 0 0 0;
  }

  .pSemana{color: var(--azul-1);}
  .pDay{color: var(--box);}

}

/* opcional: destaque para o highlightedIndex */
// .label-box.highlight {
//   color: var(--laranja-2);
//   background-color: var(--azul-1);
// }
