.box {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    text-align: center;
    background-color: white;
    font-family: "Montserrat", sans-serif !important;

    h3 {
        color: var(--azul-2);
        font-size: small;
    }

    &__internal {
        height: 400px;
        width: 340px;

        .selected {
            transform: scale(1.07);
            transition: 0.5s;
          }

        .rectangular-box {
            width: 100%;
            height: 100px;
            box-shadow: -1px -1px 10px -5px var(--azul-1);
            border-radius: 15px;
            display: flex;
            align-items: center;

            ion-img {
                width: 30%;
                height: 83px;
                filter: saturate(250%) hue-rotate(241deg);            
            }

            .ion-input {
                width: 60%;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                position: relative;

                ion-label {
                    font-size: 26px;
                    color: var(--azul-1);
                    font-weight: bold;
                }
            }
        }
    }

    ion-buttons {
        width: 100%;
    }
    ion-button {
        color: white;
        --background: var(--laranja-2);
        --border-radius: 20px;
        height: 40px;
        width: 50%;
        text-transform: none;
        font-weight: bold;
        font-size: medium;
        font-family: "Montserrat", sans-serif !important;
        &:nth-child(1) {
            --background: gray;
        }
    }

}