:root {
    --white: #fff;
    --cinza-escuro: #4d4d4d;
    --cinza-claro: #e6e6e6;
    --laranja: #F2B90F;
    --laranja-2:#F2A20C;
    --laranja-3: #F28907;
    --laranja-4: #F27405;
    --azul-1: #092B35;
    --azul-2: #071E26;
    --border: #fff;
    --box: #fff;
    --letra-white: #092B35;
    --div-azul-1: #092B35;
}

html.ion-palette-dark {
    --border: #fff;
    --div-azul-1: #fff;
    --letra-white: #fff;
    --white: #4d4d4d;
    --cinza-escuro: #4d4d4d;
    --cinza-claro: #4d4d4d;
    --laranja: #F2B90F;
    --laranja-2:#F2A20C;
    --laranja-3: #F28907;
    --laranja-4: #F27405;
    --azul-1: #092B35;
    --box: #092B35;
    --azul-2: #fff;
}