<div class="tela">

    <section>
      <!-- <h1 style="color: black;margin: 0;">1 dieta por mês 30 reais</h1> -->
      <div class="refeicoes">
        <div *ngFor="let dieta of grupoDieta" class="refeicao">
          <div>
            <h3>{{ dieta.meal_name }}</h3>
            <p>{{ dieta.meal_nutrition }}</p>

            <div class="chips">
              <ion-chip >
                <p>
                  {{ dieta.calorie_content | number:'1.0-0' }}g 
                </p>
                <p>Caloria</p>
              </ion-chip>
              <ion-chip>
                <p>
                  {{ dieta.carbohydrate_content | number:'1.0-0' }}g
                </p>
                <p>Carboidratos</p>
              </ion-chip>
              <ion-chip >
                <p>
                  {{ dieta.protein_content | number:'1.0-0' }}g 
                </p>
                <p>Proteínas</p>
              </ion-chip>
              <ion-chip >
                <p>
                  {{ dieta.fat_content | number:'1.0-0' }}g
                </p>
                <p>Gordura</p>
              </ion-chip>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- <section class="plano-alimentar-container"> -->
    <!-- Cartão principal -->
    <!-- <ion-card class="plano-alimentar-card">
      <ion-card-content>
        <div class="chips">
          <ion-chip >
            {{ 'dieta.proteinas' | number:'1.0-0' }}g Proteínas
          </ion-chip>
          <ion-chip>
            {{ 'dieta.carboidratos' | number:'1.0-0' }}g Carboidratos
          </ion-chip>
          <ion-chip >
            {{ 'dieta.gorduras' | number:'1.0-0' }}g Gorduras
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  </section> -->
    
  </div>