<ion-content>
  <div class="box" style="justify-content: start;">
      <app-progress-h1 [backRoute]="'/sugestao'" [progress]="progress" [h1]="'Qual é o seu objetivo?'" style="width: 352px;"></app-progress-h1>
      
      <div class="box box__internal">
        <div class="rectangular-box"        
             [ngClass]="{ 'selected': threeSelection === 'Lose Weight' }"
             (click)="selectThree('Lose Weight')">
          <ion-img src="assets/img/escala.gif"></ion-img>
          <div class="ion-input">
            <ion-label>Emagrecer</ion-label>
          </div>
        </div>

        <div class="rectangular-box"        
             [ngClass]="{ 'selected': threeSelection === 'Maintain Weight' }"
             (click)="selectThree('Maintain Weight')">
             <ion-img src="assets/img/exercicio.gif"></ion-img>
             <div class="ion-input">
            <ion-label>Manter o peso</ion-label>
          </div>
        </div>

        
        <div 
        class="rectangular-box" 
        [ngClass]="{ 'selected': threeSelection === 'Gain Muscle' }"
        (click)="selectThree('Gain Muscle')">
        <ion-img src="assets/img/crescimento-muscular.gif"></ion-img>
        <div class="ion-input">
            <ion-label>Ganhar peso</ion-label>
          </div>
        </div>
      </div>

      <ion-button (click)="idade()">Continuar</ion-button>
  </div>
</ion-content>